
<footer class="bg-success">
  <div class="search">
    <a href="https://www.facebook.com" target="_blank"> <img class="facebooklogo" src="assets/img/facebooklogo1.png" alt="fblogo"></a>
    <a href="https://www.google.com" target="_blank"> <img class="gogglelogo" src="assets/img/google+logo1.png" alt="gogglelogo"></a>
    <a href="https://twitter.com" target="_blank"> <img class="twitterlogo" src="assets/img/twitterlogo1.png" alt="twitterlogo"></a>
    <a href="https://www.instagram.com" target="_blank"> <img class="instagramlogo" src="assets/img/instagramlogo.png" alt="instagramlogo"></a>
    <a href="https://www.youtube.com" target="_blank" > <img class="youtubelogo" src="assets/img/youtubelogo1.png" alt="youtubelogo"></a>
    <a href="https://vk.com" target="_blank"> <img class="vkontaktelogo" src="assets/img/vkontakelogo1.png" alt="vkontaktelogo"></a>
  </div>
</footer>
