body{
  background-image: url("assets/img/roads___2020_calendar_by_miguel_santos_daiydw4-fullview.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;


}

